<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href="index.html"><img src="assets/img/logoOficial.png" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="#inicio">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#objetivos">Objetivos Generales</a></li>
        <li><a class="nav-link scrollto" href="#logisitca">Información de Logistica</a></li>
        <li><a class="nav-link scrollto" href="#cotizacion">Cotización</a></li>
        <li><a class="nav-link scrollto" href="#programa">Programa Preliminar</a></li>
        <li><a class="nav-link scrollto" href="#ponentes">Ponentes</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<section id="inicio" class="hero">
  <div class="hero-container">
    <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="assets/img/logoOficial.png" alt=""></a>
    <h1
      style="font-family: Roboto, sans-serif; font-weight: 600;font-size: 32px; color: #ffffff; text-shadow: 0 0 5px #000, 0 0 5px #000;">
      Primer Congreso Nacional de Derechos Linguisticos</h1>
    <h2
      style="font-family: Roboto, sans-serif; font-weight: 600; color: #ffffff; text-shadow: 0 0 5px #000, 0 0 5px #000;">
      Universidad Autónoma del Estado de Hidalgo (UAEH), Pachuca, Estado de Hidalgo, México</h2>
    <!-- <a data-aos="fade-up" data-aos-delay="200" href="#about" class="btn-get-started scrollto">Get Started</a> -->
  </div>
</section><!-- End Hero -->


<main id="main">


  <!-- ======= Seccion 1 ======= -->
  <section id="objetivos" class="about"
    style="background-color: #F6FF06; font-family: Roboto, sans-serif; font-weight: 600;color: #ffffff; text-shadow: 0 0 3px #3598FE, 0 0 3px #000;">
    <div class="container">

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image">
            <img src="assets/img/ObjetivoGeneral.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <br>
            <h3>OBJETIVOS GENERALES:</h3>
            <br>
            <ul>
              <li>
                <i class="bx bx-check-double"></i>
                <h5>Aprender LSM a través de una persona Sorda.</h5>
              </li>
              <li>
                <i class="bx bx-check-double"></i>
                <h5>Conocer la Lengua de Señas Mexicana - LSM, en la comunicación con
                  personas Sordas.</h5>
              </li>
              <li>
                <i class="bx bx-check-double"></i>
                <h5>Comprender la estructura básica de la Lengua de Señas Mexicana.</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- Fin Seccion 1 -->


  <!-- ======= Seccion 2 ======= -->
  <section id="logisitca" class="about"
    style="background-color: #3598FE; font-family: Roboto, sans-serif; font-weight: 600;color: #ffffff; text-shadow: 0 0 3px #3598FE, 0 0 3px #000;">
    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                <h5>

                  <br>
                  <br>

                  Al unirnos para pensar sobre la relación entre las personas Sordas y los derechos
                  humanos, posicionamos a las personas Sordas como ciudadanos y participantes
                  activos en la construcción tanto de sus propias historias personales como de la
                  democracia en México
                  <br>

                  <br>
                  Destacamos la importancia de garantizar los derechos humanos de todas las
                  personas sordas durante las diferentes crisis que enfrentamos como ciudadanos
                  sordos del mundo. Con esto, invitamos a todos los interesados a asumir el desafío
                  de reflexionar juntos sobre los derechos humanos de las personas sordas y la
                  situación en México.
                  <br>
                  <br>
                  <b>¿Vamos Juntos?
                  </b>
                </h5>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image">
            <figure>
              <img src="assets/img/NumVacante.png" alt="" class="img-fluid">
            </figure>
            <figure>
              <img src="assets/img/NumVacante2.jpg" alt="" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>

    </div>
  </section><!-- Fin Seccion 2 -->


  <!-- ======= Seccion 3 ======= -->
  <section id="cotizacion" class="services"
    style="background-color: #EEE; font-family: Roboto, sans-serif; font-weight: 600;color: #000;">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Cotización</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
            <i class='bx bx-male-female'></i>
            <h4>5 personas: Interpretación Simultánea en LSM y IntSL, Español a través de la
              Inauguración y Clausura.</h4>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
            <i class='bx bx-file-blank'></i>
            <h4> Espacio del Exposición de carteles bilingües (LSM/Lengua Español)</h4>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
            <i class='bx bxs-institution'></i>
            <h4>Espacio del Auditorio de las Conferencias y sillas para la inauguración
              (Pantalla grande, proyector de cañón, computadora o lapto con los usb, 4
              micrófonos, asientos, plataforma, pancarta, botellas de aguas, etc.)</h4>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
            <i class='bx bx-chalkboard'></i>
            <h4>Pancarta con las letras “Primer Congreso Nacional de Derechos Lingüísticos:
              Arte Sordo, Educación Bilingüe, Interpretación e Traducción, Escritura de
              Señas y Política lingüística de Lengua de Señas Mexicana y el Primer
              Congreso Nacional de Lengua de Señas Mexicana (ConaLSM 2024)” con los
              logos de la UAEH, UFCA y Literacy for the Deaf México. </h4>

          </div>
        </div>
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
              <i class='bx bxs-school'></i>
              <h4>Salones de Talleres</h4>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
              <i class='bx bx-certification'></i>
              <h4>Certificado digital</h4>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class='bx bxs-coffee'></i>
              <h4>Mesas de exposiciones y Servicio de Coffe Break, Pastes.
              </h4>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class='bx bxs-car'></i>
              <h4> Estacionamiento del Autobús. </h4>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-wifi"></i>
              <h4> WIFI </h4>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="500">
              <i class='bx bxs-video-recording'></i>
              <h4> Videograbado del Congreso de la UAEH </h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- Fin Seccion 3-->




  <!-- ======= Seccion 4 ======= -->
  <section id="programa" class="about" style="background-color: #fff;">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2 style="color: #0000CC;">Programa Preliminar</h2>
        <b style="color:#0000CC">13 - 14 DE JUNIO DE 2024</b>
      </div>

      <div class="row"> <!-- Row 1-->



        <div class="col-lg-6" data-aos="fade-right">
          <h3 class="text-center py-3" style="color: #3598FE;text-shadow: 0 0 2px #444, 0 0 2px #444;">Jueves, 13 de
            Junio </h3>

          <div class="container py-2 mt-4 mb-4">
            <div class="row">
              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <div class="float-right text-muted">8:00 AM</div>
                    <b class="card-title"> Registro / Café</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <div class="float-right text-muted">8:15 AM</div>
                    <b class="card-title"> Acreditación y Primer Congreso Nacional de Derechos Lingüísticos</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <div class="float-right text-muted">9:00 AM</div>
                    <b class="card-title"> Ceremonia de apertura </b>
                    <ul>
                      <li> Video de Rector de la UFCA</li>
                      <li> Dr. Rundesth</li>
                      <li> Lic. Cesar Ernesto Escobedo Delgado</li>
                      <li> Dra. Itzel Moreno Vite</li>
                      <li> Dr. Abel Lerma Talamantes</li>
                      <li> Video de Presidente de la Federación Mundial de Sordos</li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <div class="float-right text-muted">10:00 AM</div>
                    <b class="card-title"> Video: Visual Vernacular en Himno Nacional</b>
                    <p>Elián Manuel Nájera Segura</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <div class="float-right text-muted">10:10 AM</div>
                    <b class="card-title"> Mesa redonda: </b>
                    <p>Derechos Humanos y Personas Sordas: Perspectivas
                      gubernamentales para las comunidades Sordas.</p>

                    <ul>
                      <li> Profesor Roger Lineira Prestes , Brasil</li>
                      <li> Dra. Itzel Moreno Vite, México </li>
                      <li> <b>“Restos de la Universidad Pública en México para la Educación de los
                          Sordos”</b> Dr. Abel Lerma Talamantes, México</li>

                    </ul>
                    <p> Moderadora Minerva Ramos Garcia</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <div class="float-right text-muted">11:00 AM</div>
                    <b class="card-title"> Conferencia:</b>
                    <p> ¿Existen diferentes 14 Identidades de Sordos?</p>

                    <ul>
                      <li> Ma. de Lourdes Perla Moctezuma Quiroga, (Ciudad de México)</li>
                      <li> Ana Guadalupe Herrera Amaral (Jalisco)</li>
                      <li> Lilia Ofir García Buenfil (Sonora)</li>
                      <li> Salvador Acero Hernandez (Aguascalientes)</li>
                      <li> Erwin Ponce Juarez (Ciudad de México)
                      </li>
                    </ul>
                    <p> Moderadora María de Perla Moctezuma Quiroga (Ciudad de México)</p>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <div class="float-right text-muted">12:00 AM</div>
                    <b class="card-title"> Conferencia:</b>
                    <p> Escritura de Señas </p>

                    <ul>
                      <li> <b> “Experiencia docente en institutos, en la disciplina de Libras/Escritura
                          de Señas” </b> Profesor Rundesth Saboia Nobre. (Brasil) </li>
                      <li> <b> “Historia Escritura de Señas y Experiencia con los Jóvenes Sordos en
                          Jalisco” </b> Armando Cruz Figueroa y Farid Abdallah Gómez Quiñones (Jalisco) </li>
                      <li> <b> "Centro Clotet Educación al Servicio del Sordo A.C.: Introducción a la
                          Escritura de Señas" </b> Gabriela María Romero Anaya (Ciudad de México) </li>
                    </ul>
                    <p>Moderador Salvador Acero Hernandez </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <div class="float-right text-muted">13:20 PM</div>
                    <b class="card-title"> Comida y exposición de carteles </b>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <div class="float-right text-muted">14:20 PM</div>
                    <b class="card-title">Mesa Redonda:</b>
                    <p> Gestión democrática y lucha por el reconocimiento en la
                      comunidad Sorda en México </p>

                    <ul>
                      <li> <b> “La Importancia de la Política y Legislación sobre Educación para
                          Sordos.” </b><br> Profesor Roger Lineira Prestes, Coordinador de Posgrado de Estudios
                        de
                        Traducción en el Área Jurídica. Universidade Federal do Cariri (UFCA).
                      </li>
                      <br>
                      <li> <b> “Despertando la conciencia política en la democracia: diálogo de
                          ciudadanos sordos con diputados y senadores, en el ámbito de
                          derechos lingüísticos”
                        </b><br>Arq. Mariana Cabrero Ortiz y el Dr. Víctor Manuel Montes de Oca Sánchez., Instituto
                        Bilingüe Intercultural de y para Sordos, A.C
                        de
                        Traducción en el Área Jurídica. Universidade Federal do Cariri (UFCA).
                      </li>
                      <br>

                      <li> <b> “El Contexto de la Política de Expansión y Formación de Profesores de LSM
                          al proyecto pedagógico del Curso completo de grado en lenguas: Lengua de
                          Señas Mexicana (LSM) Curricular de la licenciatura de Estudios Lingüísticos
                          de Lengua de Señas Aplicada en el primer Congreso Internacional de
                          Estudios Lingüísticos de Lengua de Señas Mexicana ante de la Cámara de
                          Senado. Colaboración entre la Universidad Autónoma del Estado de Hidalgo,
                          la Universidade Federal do Cariri y Literacy for the Deaf Mexico.
                        </b><br> Lic. Cesar Ernesto Escobedo Delgado, Literacy for the Deaf Mexico
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #3598FE; border-radius:5px;">
                    <b class="card-title">Talleres (máxima dos horas) </b>
                    <ol>
                      <br>
                      <b class="float-right text-muted">15:20 PM</b>
                      <br>
                      <br>
                      <li>
                        <b>Escritura de Señas </b>
                        <br> Gabriela María Romero Anaya, Rundesth Saboia Nobre,
                        Armando y Farid Abdallah Gómez Quiñones
                      </li>
                      <br>
                      <li>
                        <b>“(¿Qué es la privación lingüística y sus
                          consecuencias en los estudiantes sordos? y ¿Cómo identificar a un intérprete
                          profesional? (Para sordos)”. </b>
                        <br> Jose Luis Magaña Cabrera
                      </li>
                      <br>
                      <b class="float-right text-muted">17:20 PM</b>
                      <br>
                      <br>
                      <li> <b>¿Existen diferentes 14 Identidades de Sordos?</b>
                        <br>
                        Erwin Ponce Juarez y Rosa Santiago Cruz
                      </li>
                      <br>

                      <li> <b> Audismo y Sortitud</b>
                        <ul>
                          <li>
                            Audiocentrismo.
                          </li>
                          <li>
                            Discriminación a personas Sordas.
                          </li>
                          <li>
                            Distintos tipos de audismo.
                          </li>
                          <li>
                            Modelo Cultural-lingüístico.
                          </li>
                          <li>
                            Espacio-Sordo.
                          </li>
                        </ul>
                        Manuel Alejandro Sánchez Villa y Rodrigo Sánchez Villa
                      </li>

                    </ol>
                  </div>
                </div>
              </div>
            </div>










          </div>
        </div>


        <div class="col-lg-6" data-aos="fade-left">
          <h3 class="text-center py-3" style="color: #F6FF06;text-shadow: 0 0 2px #444, 0 0 2px #444;">Viernes, 14 de
            Junio </h3>

          <div class="container py-2 mt-4 mb-4">
            <div class="row">
              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">8:00 AM</div>
                    <b class="card-title"> Registro</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">8:30 AM</div>
                    <b class="card-title"> Grupo de Trabajo / Debates temáticos y encuestas</b>
                    <p>Moderador Maria Eugenia Rivera Lara </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">9:00 AM - 10:00 AM</div>
                    <b class="card-title"> “Teoría de Etimología de Lengua de Señas “</b>
                    <p>Buck Tomás Rogers Revidiego, Estados Unidos y España</p>
                    <b>Moderadora Ana Amaral Herrera</b>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">10:00 AM</div>
                    <b class="card-title"> Debate abierto:</b>
                    <p>Poder Sordo: liderazgo, revolución, diversidad y lucha constante </p>
                    <ul>
                      <li> <b> Transformando la Atención: Avanzando hacia la Plena de las Personas
                          Sordas a Nivel Nacional en México </b> <br>Salvador Acero Hernández
                      </li>
                      <br>
                      <li> <b> "Empoderamiento de los Líderes Sordos: Reconocimiento y Respeto
                          por la Identidad Lingüística y Cultural de la Comunidad Sorda" </b> <br>
                        Lic. Orión Héctor Díaz Flores
                      </li>
                      <br>

                      <li> <b> ¿Cual es la diferencia entre los términos persona Sorda y persona con
                          discapacidad auditiva?
                        </b> <br>Gloria Alicia Cruz Figueroa </li>
                      <br>

                      <li> <b> “Fomento de la lectura en la LSM”
                        </b> <br>Luis del Ángel Hernández Ramírez. Bibliotecario de la Sala de Silentes de la
                        Biblioteca Central del Estado de Hidalgo "Ricardo Garibay"</li>
                    </ul>

                    <b>Moderadora OLGA DELFINA GUZMAN MELO
                    </b>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">11:20 AM</div>
                    <b class="card-title"> Conferencias:</b>
                    <p> Modelos Sordos Lingüísticos: Poderes del Protagonismo
                      en las performances señalizadas </p>
                    <ul>
                      <li> <b> Profesionales Sordos que trabajan con un enfoque en Libras para
                          estudiantes Sordos, cuya materia es Libras/Escritura de Señas.
                        </b> <br>Rundesth Saboia Nobre
                      </li>
                      <br>
                      <li> <b> “Modelo Lingüístico Sordo en la Escuela de Sordos” </b>
                        <br> Mtra. Cristina Salazar Romero (Jalisco)

                      </li>
                      <br>

                      <li> <b>“Mis manitas que hablan”
                        </b> <br> Mtra. Aida Araceli Aramburo Osuna (Jalisco) </li>
                      <br>

                      <li> <b> Metodología para la enseñanza de la literatura para Sordos.
                        </b> <br>Lic. José Edgar Luna Rodríguez, (Puebla)
                      </li>
                    </ul>

                    <b>Moderador Orión Héctor Díaz Flores
                    </b>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">13:20 PM</div>
                    <b class="card-title"> Mesa redonda: </b>
                    <p>Cuestiones Sociales, Políticas públicas y Servicios
                      Sociales en la lucha contra el Audismo.</p>
                    <b>“Audismo y Sortitud.”</b>
                    <p>Manuel Alejandro Sánchez Villa y Rodrigo Sánchez Villa</p>

                  </div>
                </div>
              </div>
            </div>


            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">13:40 PM</div>
                    <b class="card-title"> Comida y exposición de carteles </b>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">14:40 PM</div>
                    <b class="card-title"> Conferencia:</b>
                    <p> “La importancia de crear estrategias para la enseñanza
                      de personas Sordas en diversos cursos”.</p>

                    <p> Profesor Rundesth Saboia Nobre (Brasil)</p>
                    <b>Moderador Cesar Ernesto Escobedo Delgado </b>

                  </div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">15:40 AM</div>
                    <b class="card-title"> Conferencia:</b>
                    <p> Comunicación sin Barreras II </p>
                    <ul>
                      <li> <b> “Lengua por niños Sordos”
                        </b> <br>Maricela Miranda Dote (Estados Unidos)
                      </li>
                      <br>
                      <li> <b></b>
                        <br>Roger Prestes Ligares
                      </li>

                    </ul>

                  </div>
                </div>
              </div>
            </div>




            <div class="row">

              <div class="col py-2">
                <div class="card">
                  <div class="card-body" style="border:2px solid #F6FF06; border-radius:5px;">
                    <div class="float-right text-muted">16:40 AM</div>
                    <b class="card-title">Taller: </b>
                    <p>“Etimología de Lengua de Señas”</p>
                    <br> Buck Tomas ROgers Revidiego (España y Estados Unidos)
                  </div>
                </div>
              </div>
            </div>





          </div>
        </div>
      </div> <!-- Fin Row 1 -->

    </div>
  </section>

  <!-- ======= Fin Seccion 4 ======= -->



  <!-- ======= About Us Section ======= -->
  <section id="about" class="about"  style="background-color: #0000CC; font-family: Roboto, sans-serif; font-weight: 600;color: #ffffff; text-shadow: 0 0 3px #3598FE, 0 0 3px #000;">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2 style="color:#fff;">ConaLSM2024</h2>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image">
            <img src="assets/img/lsm-educacion/conalsm-2024.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3>                Comites Organizadores </h3>
            <h4>
              <br>
              Lic. Cesar Ernesto Escobedo Delgado 
              <br>
              Presidente 
              Literacy for the Deaf Mexico 
          </h4>
          <br>
          <h4>
              Dra. Itzel Moreno Vite 

              <br>
              Responsable del ConalLSM2024
              <br>
              Universidad Autónoma del Estado de Hidalgo (UAEH)

          </h4>
          <br>
          <h4>
              José Luis Sánchez Magaña
              <br>
              Coordinador del servicio de interpretación
          </h4>


          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3> Equipo de Interpretes de LSM</h3>
            <h4>
              <br>
              Esbeidy Pérez Aguilar 
              <br>
              Anabel Romero Olguín
              <br>
              Keren Sulem Díaz Vargas
          </h4>



          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
          <br>
              <h3> Comité de Asistencia</h3>
            <h4>
              Estefanía Rodriguez Cruz
          </h4>
          <br>
          <h3> Comité de Tecnología</h3>
          <h4>
              Manuel Alejandro Sánchez Villa
          </h4>


          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->






  <!-- ======= Team Section ======= -->
  <section id="ponentes" class="about" style="background-color: #3598FE;">
    <div class="container">

      <div class="section-title" data-aos="fade-up"
        >
        <h2 style="color: #fff !important;text-shadow: 0 0 2px #444, 0 0 2px #444;">Ponentes</h2>
        <p style="color: #fff !important;text-shadow: 0 0 2px #444, 0 0 2px #444;">Arte Sordo, Educacion Bilingue, Interpretaciones y Traductores, Escritura de Señas, y Politica
          Linguistica de Lengua de Señas Mexicana.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Orion.png" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Lic. Orión Héctor Díaz Flores</h4>
              <span>Nayarit</span>
              <p>EMPODERAMIENTO DE LOS LÍDERES SORDOS: RECONOCIMIENTO Y RESPETO POR LA IDENTIDAD
                LINGUISTICA Y CULTURAL DE LA COMUNIDAD SORDA.</p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Edgar.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Lic. José Edgar Luna Rodríguez</h4>
              <span>Puebla</span>
              <p>METODOLOGÍA PARA LA ENSEÑANZA DE LA LITERATURA PARA SORDOS</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <div class="member-img">
              <img src="assets/img/ponentes/Elian Manuel.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Elián Manuel Nájera Segura</h4>
              <span>Guerrero</span>
              <p>HIMNO NACIONAL GUERRA EN LA ANTIGUA GRECIA DAVID CONTRA EL HOMBRE ES ALTO DJ RITMO</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Cristina.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mtra. Cristina Salazar Romero</h4>
              <span>Jalisco</span>
              <p>MODELO LINGUISTICO SORDO EN LA ESCUELA DE SORDOS</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/ponentes/Araceli.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mtra. Aida Araceli Aramburo Osuna</h4>
              <span>Jalisco</span>
              <p>MIS MANITAS QUE HABLAN.</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Salvador.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Salvador Acero Hernández</h4>
              <span>Aguascalientes</span>
              <p>TRANSFORMADO LA ATENCIÓN AVANZADO HACIA LA PLENA DE LAS PERSONAS SORDAS A NIVEL NACIONAL EN MÉXICO</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Ernesto.png" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>César Ernesto Escobedo Delgado</h4>
              <span>Ciudad de México</span>
              <p>EL CONTEXTO DE LA POLITICA DE EXPANSION Y FORMACIÓN DE PROFESORES
                  DE LENGUA DE SEÑAS MEXICANA (LSM) AL PROYECTO PEDAGÓGICO DEL CURSO
                  COMPLETO DE GRADO EN LENGUA
              </p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Farid2.png" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Farid Abdallah Gómez Quiñones</h4>
              <span>Jalisco</span>
              <p>HISTORIA ESCRITURA DE SEÑAS Y EXPERIENCIA CON LOS JÓVENES SORDOS EN JALISCO</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Armando2.png" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Armando Cruz Figueroa</h4>
              <span>Jalisco</span>
              <p>HISTORIA ESCRITURA DE SEÑAS Y EXPERIENCIA CON LOS JÓVENES SORDOS EN JALISCO</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Gloria2.png" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Gloria Alicia Cruz Figueroa</h4>
              <span>Jalisco</span>
              <p>¿cUÁL ES LA DIFERENCIA ENTRE LOS TÉRMINOS PERSONA SORDA Y PERSONA CON DISCAPACIDAD AUDITIVA?</p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Lilia2.png" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Lilia Ofir García Buenfil</h4>
              <span>Sonora</span>
              <p>INCLUSIÓN EDUCATIVA DEL SORDO: PANORAMA EN MÉXICO Y VERACRUZ</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/LuisA.png" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Luis Antonio Morales Garcia</h4>
              <span>Veracruz</span>
              <p>INCLUSIÓN EDUCATIVA DEL SORDO: PANORAMA EN MÉXICO Y VERACRUZ</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/LuisAngel2.png" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Luis del Ángel Hernández Ramírez</h4>
              <span>Hidalgo</span>
              <p>FOMENTO DE LA LECTURA EN LA LSM</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Mariana.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Arq. Mariana Cabrero Ortiz</h4>
              <span>San Luis Potosi</span>
              <p>"DESPERTANDO LA CONCIENCIA POLITICA EN LA DEMOCRACIA: DIÁLOGO DE CIUDADANOS SORDOS CON DIPUTADOS Y SENADORES, EN EL ÁMBITO DE DERECHOS LINGUISTICOS"</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Victor Manuel.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Dr. Víctor Manuel Montes de Oca Sánchez</h4>
              <span>San Luis Potosi</span>
              <p>"DESPERTANDO LA CONCIENCIA POLITICA EN LA DEMOCRACIA: DIÁLOGO DE CIUDADANOS SORDOS CON DIPUTADOS Y SENADORES, EN EL ÁMBITO DE DERECHOS LINGUISTICOS"</p>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Maricela.png" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Maricela Miranda Dote</h4>
              <span>Estados Unidos de America</span>
              <p>LENGUA POR NIÑOS SORDOS</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Alejandro.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Salvador Alejandro Gallardo Enríquez</h4>
              <span>Cuidad de México</span>
              <p>NO HAY LÍMITES (CINESORDO)</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Olga Delfina.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Olga Delfina Guzman Melo</h4>
              <span>Baja California Sur</span>
              <p>DERECHO DEL EDUCACIÓN BILINGUE DE SORDOS EN BCS</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Perla.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Ma. De Lourdes Perla Moctezuma Quiroga</h4>
              <span>Ciudad de México</span>
              <p>LA INTERGACIÓN, LABORAL Y SOCIAL PARA SORDOS (TÉCNICA BILINGUISMO) EN EL AÑO 1998.</p>
            </div>
          </div>
        </div>


        
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/ponentes/Jose Luis.jpg" width="100%" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>José Luis Magaña Cabrera</h4>
              <span>Hidalgo</span>
              <p>¿QUÉ ES LA PRIVACIÓN LINGUISTICA Y SUS CONSECUENCIAS EN LOS ESTUDIANTES SORDOS? Y ¿COMO IDENTIFIICAR A UN INTERPRETE PROFESIONAL? (PARA SORDOS).</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>